
.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f0f8ff; /* Light blue background color */
  }
  
  .form-container h2 {
    margin-bottom: 20px;
   
    font-size: 2.3rem;
    color:#020103;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .form-payment-history{
    padding-left: 100px;
    color: #424141;
    font-size: 2.7rem;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input[type="number"],
  .form-container input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    background-color: #5b1df7;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .form-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .ethereum-logo {
    width: 40px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust the spacing between the logo and the text */
    padding-left: 120px;
  }
  .ethereum-logo-2 {
    width: 40px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust the spacing between the logo and the text */
    padding-left: 45%;
  }
  .form-label{
    font-style:italic;
    color:#020103;
  }
  /* Style the select container */
.select-container {
  position: relative;
  width: 300px; /* Adjust width as needed */
  
}

/* Hide the default dropdown arrow */
.select-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid #ccc; /* Border color */
  padding: 10px; /* Adjust padding as needed */
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}



/* Style the dropdown options */
.select-container select option {
  background-color: #ffffff; /* Option background color */
  color: #05020c; /* Option text color */
  border-radius: 20px;
  
}

/* Hover effect for options */
.select-container select option:hover {
  background-color: #5349bd; /* Hover background color */
}
.success-container {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f8ff; /* Bootstrap success color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.checkmark {
  width: 40px;
  height: 40px;
  
}

.message {
  margin-left: 15px;
  font-size: 18px;
  color: #3c763d; /* Bootstrap success text color */
}
.messageFailed {
  margin-left: 15px;
  font-size: 18px;
  color: #490101; /* Bootstrap success text color */
}
/* CSS for table */
table {
  border-radius: 15px;
border-collapse: separate;
border-spacing: 0;
}

/* CSS for table headers */
th {
  background-color: #5b1df7;
  border: 1px  #5b1df7;
  text-align: left;
  padding: 8px;
  color: #ededed;
}

/* CSS for table data cells */







button:hover {
  cursor: pointer
}





.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg,#4158d0,#c850c0);
  background: -o-linear-gradient(45deg,#4158d0,#c850c0);
  background: -moz-linear-gradient(45deg,#4158d0,#c850c0);
  background: linear-gradient(45deg,#4158d0,#c850c0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;

}
.table-container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px; /* Adjust the border radius value to match the table */
  background-color: #ddefff;
  overflow: hidden; /* Ensure overflow content does not protrude beyond rounded corners */
}

.wrap-table100 {
  width: 1170px
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #4a4a4a;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  
 
  
}

table * {
  position: relative;
  padding: 20px;
}

table td,table th {
  padding-left: 8px;
  
  
}

table thead tr {
  height: 60px;
  background: #ababab
}

table tbody tr {
  height: 50px
}

table tbody tr:last-child {
  border: 1
}

table td,table th {
  text-align: left;
  padding: 10px;
}

table td.l,table th.l {
  text-align: right;
  padding: 20px;
}

table td.c,table th.c {
  text-align: center
}

table td.r,table th.r {
  text-align: center
}

.table100-head th {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
  padding: 8px;
  
}

tbody tr:nth-child(even) {
  background-color: #fcfcfc
}
tbody tr:nth-child(odd) {
  background-color: #cccccc
}


tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: rgb(75, 74, 74);
  line-height: 1.2;
  font-weight: unset
}

tbody tr:hover {
  color: #6f6f6f;
  background-color: #9a9a9a;
  cursor: pointer
}



@media screen and (max-width: 992px) {
  table {
      display:block
  }

  table>*,table tr,table td,table th {
      display: block
  }

  table thead {
      display: none
  }

  table tbody tr {
      height: auto;
      padding: 37px 0
  }

  table tbody tr td {
      padding-left: 40%!important;
      margin-bottom: 24px
  }

  table tbody tr td:last-child {
      margin-bottom: 0
  }

  table tbody tr td:before {
      font-family: OpenSans-Regular;
      font-size: 14px;
      color: #999;
      line-height: 1.2;
      font-weight: unset;
      position: absolute;
      width: 40%;
      left: 30px;
      top: 0
  }

  table tbody tr td:nth-child(1):before {
      content: "Date"
  }

  table tbody tr td:nth-child(2):before {
      content: "Order ID"
  }

  table tbody tr td:nth-child(3):before {
      content: "Name"
  }

  table tbody tr td:nth-child(4):before {
      content: "Price"
  }

  table tbody tr td:nth-child(5):before {
      content: "Quantity"
  }

  table tbody tr td:nth-child(6):before {
      content: "Total"
  }

  .column4,.column5,.column6 {
      text-align: left
  }

  .column4,.column5,.column6,.column1,.column2,.column3 {
      width: 100%
  }

  tbody tr {
      font-size: 14px
  }
}

@media(max-width: 576px) {
  .container-table100 {
      padding-left:15px;
      padding-right: 15px
  }
}






  