.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f0f8ff; /* Light blue background color */
  }
  
  .form-container h2 {
    margin-bottom: 20px;
   
    font-size: 2.3rem;
    color:#020103;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container input[type="number"],
  .form-container input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  .form-container button {
    width: 100%;
    padding: 10px;
    background-color: #5b1df7;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .form-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .ethereum-logo {
    width: 40px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust the spacing between the logo and the text */
    padding-left: 120px;
  }
  .form-label{
    font-style:italic;
    color:#020103;
  }
  